@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
.mainBody, .headerContainer, .contactLink, .dataContainer, .contactLink, .mapGUI,.logoutLink, .homepageLink, .emailContainer, .popupContent{
    display: flex;
}
.mainBody {
    background-color: #9CB3CF;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.heroContainer{
    background-color: #FAFAF5;
    width: 700px;
    height: 500px;
    border-radius: 25px;
    box-shadow: 20px 25px 20px -25px #111; 
}
.headerContainer{
    width: 650px;
    padding-left: 20px;
    align-items: center;
    justify-content: space-between;
    margin: -3px 0 -15px 0;
}
.logoutLink, .homepageLink{
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 25px;
    border-radius: 5px;
    box-shadow: 0 0 3px #000000; 
    color: white;
}
.logoutLink{
    background-color: #26282B;
}
.homepageLink{
    background-color: white;
    color: black;
}
.homepageLink{
    margin-left: 195px;
}
.homepageLink:hover{
    background-color: #176BD9;
    box-shadow: 0 0 10px #176BD9; 
    border: 2px solid #176BD9;
    cursor: pointer;
    color: white;
}
.logoutLink:hover{
    background-color: #DC3644;
    box-shadow: 0 0 10px #DC3644; 
    border: 2px solid #DC3644;
    cursor: pointer;
}
.lineBreak{
    border: 1px solid rgb(235, 235, 236);
}
.headerTitle{
    width: 310px;
}
.header{
    width: 650px;
}
.tableContainer {
    margin: 15px 0 0 25px;
    border-radius: 10px;
    background-color: #ffffff;
    width: 640px;
    height: 380px;
}
.inputContainer{
    padding-top: 20px;
}
.inputContainer > p{
    font-size: 18px;
    font-weight: 900;
}
.headers{
    color:gray
}
.descriptionContent{
    width: 250px;
    max-height: 150px;
    margin-top: -15px;
    font-size: 14px;
    overflow-x: hidden; 
    overflow-y: auto;
}
.descriptionHeader{
    color:gray;
}
.contactLink{
    height: 30px;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
}
.contactLink > a {
    font-size: 15px;
    color: white;
    text-decoration: none;
}
.contactLink:hover{
    background-color: #29A745;
    box-shadow: 0 0 10px #29A745; 
    cursor: pointer;
}
.carData{
    width: 250px;
    padding-left: 25px;
}
.mapContainer{
    width: 370px;
    text-align: center; 
    position: relative;
}
.mapGUI{
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}
#map{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
.mapTitle{
    margin-top: -5px;
}
.contactLink{
    width: 590px;
}
.emailContainer{
    justify-content: center;
}
.btn{
    font-size: 15px;
    color: white;
    text-decoration: none;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 180px;
    margin-top: 15px;
}
.btn:hover{
    background-color: #e7a517;
    box-shadow: 0 0 10px #e7a517; 
    color: black;
    font-weight: 800;
    cursor: pointer;
}
.popup{
    height: 300px;
    width: 310px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
    align-items: center;
    display: none;
}
.popupContent{
    width: 310px;
    height: 300px;
    justify-content: center;
    align-items: center;
}
.photoButton{
    border: none;
    width: 250px;
    height: 40px;
    background-color: #000000;
    border-radius: 5px;
    color: white;
}
.photoButton:hover{
    background-color: #e7a517;
    box-shadow: 0 0 10px #e7a517; 
    cursor: pointer;
    color: black;
    font-weight: bolder;
    font-size: 15px;
}
.photoButton > i {
    margin-left: 10px;
    font-size: 15px;
    color: white;
}
